<ion-header >
  <ion-toolbar style="color:white;">
      <ion-buttons class="drawer_elem" slot="start">
          <ion-back-button defaultHref ></ion-back-button>
        </ion-buttons>
    <ion-title class="nav-header-text">About</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header text-center>
        <h2 class="h3-service"><b>About Us</b></h2>
    </ion-card-header>
    <ion-card-content text-center>
        Cleversoftwares is a company that focuses on providing enterprise solutions to individuals and organizations
        to help them grow thier bussiness, thier dream, thier finances and thier lives as they want and how they want
        with a wealth of experience in ICT making this possible to be achieved.
         Cleversoftware even though majorly is focused on enterprise solutions, also has a focus for teaching tech
         as well as discussing latest technologies and how they can be useful now and in the future.
    </ion-card-content>
  </ion-card>
       
  <ion-card>
    <ion-card-header text-center>
        <h2 class="h3-service"><b>Contact Us</b></h2>
    </ion-card-header>
    <ion-card-content text-center>
        <p><ion-icon name="call"></ion-icon>&nbsp;+234 703 506 4730</p> 
        <p> <ion-icon name="globe"></ion-icon>&nbsp; https://www.cleversoftwares.com/ </p>
        <p> <ion-icon name="mail"></ion-icon>&nbsp;hello@cleversoftwares.com</p>
    </ion-card-content>
  </ion-card>
  
  <div class="center-elem" text-center>

    <span>
       <a href="http://www.facebook.com/Cleversoftware">  <ion-icon color="facebook"  style="font-size:30px;" name="logo-facebook"></ion-icon></a>
     <a href="http://www.twitter.com/Cleversoftware"><ion-icon color="danger" style="font-size:30px;" name="logo-twitter"></ion-icon></a>    
        <a href="http://www.youtube.com/Cleversoftware"> <ion-icon name="logo-youtube" color="primary" style="font-size:30px;"></ion-icon></a> 
    <a href="http://www.instagram.com/Cleversoftware"><ion-icon color="instagram" name="logo-instagram" style="font-size:30px;"></ion-icon></a>  
      </span>
  


  </div>
 

</ion-content>
