
<ion-header>
  <ion-toolbar>
      <ion-buttons class="drawer_elem" slot="start">
          <ion-back-button defaultHref="/admin/dashboard/user-profile/user-profile/view-users"></ion-back-button>
        </ion-buttons>
    <ion-title >Staff Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
    <ion-card *ngIf="loaded">

        <ion-card-header>
            <ion-card-subtitle>Profile details</ion-card-subtitle>
            <ion-card-title>Profile</ion-card-title>
          </ion-card-header>
  
          <ion-card-content >
              <ion-item  class="activated">
                  <ion-thumbnail slot="start" (click)="viewImage()">
                      <ion-img src="{{user_image_directory}}/{{user_details.profilephoto}}"></ion-img>
                    </ion-thumbnail>
                </ion-item>

        <ion-item  class="activated">
          <h2>Name: &nbsp;&nbsp;</h2>
          <ion-label><b><b>{{user_details.name}}</b></b></ion-label>
        </ion-item>
      
        <ion-item >
          <h2>Email: &nbsp;&nbsp;</h2>
          <ion-label> <b><b>{{user_details.email}}</b></b></ion-label>
        </ion-item>
      
        <ion-item class="activated">
          <h2>Phone number:  &nbsp;&nbsp;</h2>
          <ion-label><b><b>{{user_details.phone_number}}</b></b></ion-label>
        </ion-item>
      
        <ion-item>
          <h2>Last Login: &nbsp;&nbsp;</h2>
          <ion-label><b><b> {{user_details.last_login}}</b></b> </ion-label>
        </ion-item>

      

          
        <ion-item>
            <h2>Last Login: &nbsp;&nbsp;</h2>
            <ion-label> <b><b>{{user_details.last_login}}</b></b> </ion-label>
          </ion-item>

      </ion-card-content>
      </ion-card>
    </ion-content>

  