<ion-header>
  <ion-toolbar>
    <ion-title >{{modalTitle}}</ion-title>
        
    <ion-buttons slot="end">
<ion-button style="color:white !important;" (click)="closeModal()">
CANCEL
</ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

 <ion-list>
  


  <ion-item>
      <!-- <ion-item>
          <ion-label position="floating" placeholder="Enter more information here..." >enter your complaints/reason of dissaproval to staffs</ion-label>
          <ion-textarea [(ngModel)]="Complaints"></ion-textarea>
        </ion-item> -->
<!-- 
        <ion-item> -->
            <ion-label>DD/MM/YYYY"</ion-label>
            <ion-datetime  [(ngModel)]="searchContent" display-format="DD/MM/YYYY"></ion-datetime>
          <!-- </ion-item>

    <ion-input type="date" [(ngModel)]="searchContent"></ion-input> -->
  </ion-item>

  <div text-center>
      <ion-button color="primary" shape="round"   expand="full"  (click)="performSearch()" ><ion-icon name="search"></ion-icon></ion-button>
  </div>

 </ion-list>

 <ion-list >
    <ion-item *ngIf="loaded">
   <ion-text color="medium"><b>Staffs Who have Logged In Today <span style="color:indianred"> ({{response.success.data.date}}th of {{response.success.data.month}} {{response.success.data.year}})</span></b></ion-text>
    </ion-item>
    <div class="content" *ngIf="loaded">
        <ion-item-sliding *ngFor="let staffs of response.success.data.logged_in"  >
            <ion-item  class="change_color"  >
              <ion-label><b><b>{{staffs.staff_name}}</b></b></ion-label>
              
            </ion-item>

      <ion-item-options side="end" (click)="goToTaskStaffLoginDetails(staffs.staff_id,response.success.data.date,response.success.data.day,response.success.data.month,response.success.data.year) "  >
              <ion-item-option >View Full Details</ion-item-option>
            </ion-item-options>
        
          </ion-item-sliding>
    </div>
    

  </ion-list>
  <ion-item *ngIf="loaded">
      <ion-text color="medium"><b>Staffs Yet To Login Today
        <span style="color:indianred"> ({{response.success.data.date}}th of {{response.success.data.month}} {{response.success.data.year}})</span>
      </b></ion-text>
      <!-- <ion-button fill="outline"  (click)="LoadModalHistory(parameters.id)"  slot="end"><ion-icon name="cash"></ion-icon></ion-button> -->
       </ion-item>
       <div class="content" *ngIf="loaded">
              <ion-item  *ngFor="let staffs of response.success.data.not_logged_in" class="change_color"  >
                <ion-label><b><b>{{staffs.staff_name}}</b></b></ion-label>
                <ion-icon slot="end" (click)="deductSalaryForLateComing(staffs.staff_id,response.success.data.date,response.success.data.day,response.success.data.month,response.success.data.year,staffs.staff_name)" name="cash"></ion-icon>
              </ion-item>
      </div>
  <ion-list>

    




  </ion-list>









</ion-content>
