ion-header{
    --ion-background-color:#3880ff;
    font-weight:bolder;
}
ion-title{
    color:white;
}
.drawer_elem{
    color:white;
}

ion-tab-bar{
width:100vw;
//background: #3880ff;
}
// ion-tab-button{
//     background: #3880ff;color:white;
// }
// ion-tab-button:active{color:brown;}
