
<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 <!--this route is to add a new admin-->
    <ion-tab-button tab="add-user">
      <ion-icon name="create"></ion-icon>
      <ion-label>new staff</ion-label>
    </ion-tab-button>
 <!--thos route is to view to all admins-->
    <ion-tab-button tab="view-users">
      <ion-icon name="eye"></ion-icon>
      <ion-label>current staff</ion-label>
    </ion-tab-button>


<!--this route is to change user password even though i called it update-profile-->
<!-- <ion-tab-button tab="update-profile">
  <ion-icon name="create"></ion-icon>
  <ion-label>change password</ion-label>
</ion-tab-button> -->








</ion-tab-bar>




</ion-tabs>
